.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Ignorar todos los archivos en la carpeta application/assets/upload/
assets/upload/*

# Excepto la subcarpeta fotoPerfil y su archivo user-default.png
!assets/upload/fotoPerfil/
!assets/upload/fotoPerfil/user-default.png

# Ignorar todos los archivos en la subcarpeta fotoPerfil excepto user-default.png
assets/upload/fotoPerfil/*
!assets/upload/fotoPerfil/user-default.png
