


.single-post h1, h2, h3, h4, h5, h6, p,li, ul, span, img{ margin: 0; padding: 0; font-weight: 300; }


.single-post a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

.single-post > a:focus, a:active, a:hover,
button:focus, button:active, button:hover{ text-decoration: none; color: #498BF9; }

.single-post b{ font-weight: 500; }

.single-post img{ width: 100%; }





















 
/* ---------------------------------
5. SINGLE POST
--------------------------------- */

.blog-area .row div[class^="col"] { margin-bottom: 30px; }

.blog-area{ text-align: center; background: #EDF3F3; }

.blog-area .single-post{ height: 100%; position: relative; padding-bottom: 45px;
	overflow: hidden; box-shadow: 0px 0px 5px rgba(0,0,0,.1); border: 1px solid #ddd; background: #fff; }

.blog-area .single-post .title{ padding: 20px 30px 30px; }

.single-post .avatar{ margin: 0 auto; margin-top: -40px; width: 70px; height: 70px; overflow: hidden; z-index: 10;
	border-radius: 100px; position: relative; border: 7px solid #fff; box-shadow: 0px 0px 10px rgba(0,0,0,.2); }

.single-post .post-footer{ position: absolute; bottom: 0; left: 0; right: 0; text-align: center; }

.single-post .post-footer > li{ width: 33.33%; display: inline-block; border-right: 1px solid #fff; background: #EDF3F3; }

.single-post .post-footer > li:first-child{ float: left; }

.single-post .post-footer > li:last-child{ border: 0px; float: right; }

.single-post .post-footer > li > a{ line-height: 45px;  }

.single-post .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }


/* ---------------------------------
6. NORMAL BLOG
--------------------------------- */

.post-style-1 .blog-image{ max-height: 200px; overflow: hidden; }








