/* Estilo de la pagina con Bootstrap y CSS */
/* body separa la barra de inicio del contenido y el color de fondo */
body {
	background-image: url("../imagenes/computer.jpg");
	background-size:110%;
	display:flex;
	min-height:100vh;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
/** ######################## HEADER/MENU ############################# */
/* Tamaño de la imagen del logo */
#logo{
	width: 160px; 
	height: 75px;
}
/** Fondo de color, barra de menu fija */
#menu{
	background:#e0dede;
	display: inline-block;
}
/** Family tiene la letra, size el tamaño de la letra y texto centrado */
#menu a{
	font-size: 130%;
	font-family:sans-serif;
	text-align:center;
}
/** Tiene un fonde de color gris claro */
#desplegable{
	background:#e0dede;
}
/** Tamaño de la letra en mediano, y negrita normal */
#desplegable a{
	font-weight: normal;
	font-size: medium;
}
/** Tamaño de la letra en mediano, y negrita normal, fondo gris oscuro y color de la letra blanco */
#desplegable a:hover{
	font-weight: normal;
	font-size: medium;
	background: #504d4d;
	color: #ffffff;
}
/** Crea un margen en la parte superior */
#cuerpo{
	margin-top: 70px;
}
/** A la clase titulo de cada pagina le centra el texto */
.titulo{
	text-align: center;
}
/** Al titulo de la pagina login un relleno de 2% abajo, y centra el texto */
#tituloLogin{
	text-align: center;
	padding-bottom: 2%;
}
/** ######################## CONTENIDO DE LA PAGINA ############################# */
/** un relleno de 2% entre cada uno de los recursos */
.area{
	padding:2%;
	float: left;
}
/** alto y ancho del video position relativa y un 12% para centrarlo */
#carousel{
	width: 80%;
	height: 60%;
	position: relative;
	left: 10%;
}
/** A los textos del form los centra */
#formulario{
	text-align: center;
}
/** A las clases de tipo label les aplica negrita y texto grande */
.label{
	font-weight: bold;
	font-size: large;
}
/** A las clases de tipo recurso se añade un fondo de color blanco */
.recurso {
	background:white;
	text-align: center;
}
/** Centra los botones en este caso de los formularios (login y registro) */
#boton{
	text-align: center;
}
/** centra los texto dentro de los inputs */
.form-group input{
	text-align: center;
}
#link a{
	color: black;
}
/** Centra los textos de los id de tipo tabla */
#tabla{
	text-align: center;
}
/* Indica en que numero de pagina y el tipo de cantidad de paginas que hay */
.pagination {
	margin-bottom: 15px;
}
/** ############################## PIE DE PAGINA ################################### */
/** flex-end me situa el footer al final de la pagina, width toma el 100% de la pagina*/
#footer{
	align-self: flex-end;
	background:#e0dede;
	width:100%;
	font-weight:bold;
	font-family:sans-serif;
	font-size:large;
}
