/* Estilo de la pagina con Bootstrap y CSS */
/*body separa la barra de inicio del contenido y el color de fondo*/
body {
	padding-top: 54px;
	background-image: url("../imagenes/computer.jpg");
	background-size: 100%;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
/*Tamaño de la imagen del logo*/
#logo{
	width: 160px; 
	height: 75px;
}
#menu{
	background:#e0dede;
	display: inline-block;
}
#menu a{
	font-size: x-large;
	font-family:sans-serif;
	text-align:center;
}
#cuerpo{
	margin-top:56px;
}
#formulario{
	background: transparent;
}
.form-group{
	text-align: center;
	font-weight:bold;
}
/*Indica en que numero de pagina y el tipo de cantidad de paginas que hay*/
.pagination {
  margin-bottom: 15px;
}
#footer{
	background:#e0dede;
	font-family:sans-serif;
}
