/* Estilo de la pagina con Bootstrap y CSS */
/*body separa la barra de inicio del contenido */
body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.pagination {
  margin-bottom: 15px;
}
#logo{
	width: 160px; 
	height: 65px;
}
#menu{
	background:#e0dede;
}
#footer{
	background:#e0dede;
	color: #7c7c7c;
}
#menu a{
	font-size: x-large;
	font-weight:bolder;
	font-family:sans-serif;
	text-align:center;
}
