body{
	background:#c7c7c7 ;
}
img{
	width: 160px; 
	height: 65px;
}
#menu{
	background:#e0dede;
}
#menu a{
	font-size: x-large;
	font-weight:bolder;
	font-family:sans-serif;
}
#barraMenu {
	text-align:left;
}
.text-secondary{
	
}
